.obra-interna {
    position: relative;
    .blue {
        background-color: $blue;
        width: 100%;
        height: 25.3rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    .detalhe-1 {
        height: 2px;
        width: 30%;
        background-color: $yellow;
        position: absolute;
        left: 0;
        top: calc(25.3rem + 7.7rem);
    }
    .container {
        position: relative;
        .detalhe-2 {
            width: 2px;
            height: 23.8rem;
            position: absolute;
            top: 25.3rem;
            right: calc(1.5rem + 2.3rem);
            background-color: $yellow;
        }
        .detalhe-3 {
            width: 2px;
            height: 23.8rem;
            position: absolute;
            top: 25.3rem;
            right: calc(1.5rem + 8.8rem);
            background-color: $yellow;
        }
    }
    .swiper {
        width: 100%;
        height: 100%;
        max-height: 32rem;
        margin-bottom: 6.4rem;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        height: 32rem;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        a {
            width: 100%;
            height: 100%;
        }
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all .3s;
        }
        &:hover {
            img {
                transform: scale(1.05);
            }
        }
    }
    .buttons-swiper {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8.8rem;
        h1 {
            font-weight: 600;
            font-size: 6.4rem;
            line-height: 112%;
            color: $blue;
        }
        .buttons {
            display: flex;
            gap: 1.6rem;
            .custom-swiper-button-next, .custom-swiper-button-prev {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 4.8rem;
                height: 4.8rem;
                position: relative;
                border: 2px solid $yellow;
                background: white;
                border-radius: 0.8rem;
                cursor: pointer;
                transition: all .3s;
                .icon-prev {
                    background-image: url(../img/icon-prev.svg);
                    transition: all .3s;
                }
                .icon-next {
                    background-image: url(../img/icon-next.svg);
                    transition: all .3s;
                }
                .icon-prev, .icon-next {
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    width: 2.4rem;
                    height: 2.4rem;
                }
                &:hover {
                    border: 2px solid $blue;
                    .icon-next {
                        background-image: url(../img/icon-next_hover.svg);
                    }
                    .icon-prev {
                        background-image: url(../img/icon-prev_hover.svg);
                    }
                }
                @include responsive(480px) {
                    
                }
            }
        }
    }
    .infos {
        .container {
            position: relative;
        }
        .detalhe-infos-1, .detalhe-infos-2, .detalhe-infos-3 {
            width:  2px;
            height: 8rem;
            background: $yellow;
            position: absolute;
            top: 0;
        }
        .detalhe-infos-1 {
            left: calc(1.5rem + 11.3rem);
        }
        .detalhe-infos-2 {
            left: calc(1.5rem + 43.5rem);
        }
        .detalhe-infos-3 {
            left: calc(1.5rem + 75rem);
        }
        .infos-wrapper {
            display: flex;
            justify-content: space-between;
            width: 100%;
            max-width: 100%;
            position: relative;
            .card {
                background: $white;
                display: flex;
                flex-flow: column;
                width: 26.4rem;
                height: 21.6rem;
                align-items: center;
                justify-content: center;
                border-radius: 4px;
                border: 2px solid $yellow;
                h3 {
                    font-weight: 600;
                    font-size: 2.4rem;
                    line-height: 150%;
                    color: #323335;
                }
                p {
                    font-weight: 400;
                    font-size: 1.6rem;
                    line-height: 150%;
                    color: $neutral-400;
                }
            }
            .detalhe-info {
                position: absolute;
                top: 50%;
                height: 2px;
                width: 99%;
                background: $yellow;
                left: 0;
                z-index: -1;
            }
        }
        .detalhes {
            display: flex;
            justify-content: space-between;
            padding-top: 8rem;
            margin-bottom: 8rem;
            align-items: center;
            position: relative;
            .infos {
                background: $white;
                border: 2px solid $yellow;
                padding: 3.2rem;
                width: 100%;
                max-width: 89.7rem;
                .text {
                    max-width: 77.3rem;
                    width: 100%;
                    &:not(:last-child) {
                        margin-bottom: 3.2rem;
                    }
                    h3 {
                        font-weight: 600;
                        font-size: 2.4rem;
                        line-height: 150%;
                        color: #323335;
                        margin-bottom: 0.8rem;
                    }
                    p {
                        font-weight: 400;
                        font-size: 1.6rem;
                        line-height: 150%;
                        color: $neutral-400;
                    }
                }
            }
            .cta {
                width: 100%;
                max-width: 27.1rem;
                display: flex;
                flex-flow: column;
                h3 {
                    font-weight: 500;
                    font-size: 2rem;
                    line-height: 125%;
                    color: #323335;
                    margin-bottom: 0.8rem;
                }
                p {
                    font-weight: 400;
                    font-size: 1.6rem;
                    line-height: 150%;
                    color: $neutral-400;
                    margin-bottom: 2.4rem;
                }
            }
        }
    }
    .style-btn {
        text-align: center;
    }
    @include responsive(480px) {
        .container {
            .detalhe-2 {
                display: none;
            }
            .detalhe-3 {
                display: none;
            }
        }
        .buttons-swiper {
            margin-bottom: 3rem;
            .buttons {
                .custom-swiper-button-next {
                    right: 3rem;
                }
                .custom-swiper-button-prev {
                    left: 3rem;
                }
                .custom-swiper-button-next, .custom-swiper-button-prev {
                    border: 0;
                    background: hsla(0, 0%, 0%, 0.4);
                    z-index: 2;
                    position: absolute;
                    width: 4rem;
                    height: 4rem;
                    top: 18rem;
                    .icon-prev {
                        background-image: url(../img/icon-prev-mobile.svg);
                    }
                    .icon-next {
                        background-image: url(../img/icon-next-mobile.svg);
                    }
                    .icon-prev, .icon-next {
                        width: 3.2rem;
                        height: 3.2rem;
                    }
                    &:hover {
                        border: 0;
                        .icon-prev {
                            background-image: url(../img/icon-prev-mobile.svg);
                        }
                        .icon-next {
                            background-image: url(../img/icon-next-mobile.svg);
                        }
                    }
                }
            }
        }
        .swiper {
            margin-bottom: 3rem;
        }
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            height: 30rem;
            border-radius: 4px;
        }
        .infos {
            .infos-wrapper {
                flex-flow: column;
                gap: 3rem;
                .card {
                    width: 100%;
                    height: 21.6rem;
                }
                .detalhe-info {
                    position: absolute;
                    top: 0;
                    z-index: -1;
                    left: 50%;
                    margin-left: 1px;
                    width: 2px;
                    height: 100%;
                }
            }
            .detalhes {
                flex-flow: column;
                gap: 3rem;
                padding-top: 3rem;
                margin-bottom: 4rem;
                .detalhe-infos-2, .detalhe-infos-3 {
                    display: none;
                }
                .detalhe-infos-1 {
                    position: absolute;
                    left: 50%;
                    margin-left: 1px;
                    top: 0;
                    background: $yellow;
                    z-index: -1;
                }
                .cta {
                    max-width: 100%;
                }
            }
        }
    }
}